<div class="container">
  <div class="jumbotron mt-4">
    <h1 class="display-4 text-center">Error: 4 <span role="img" aria-label="Face with rolling eyes">🙄</span> 4!

      <h3>
        Ooops! You're going the wrong way.<br>
        Head back home to get back on Mongo clipper!
      </h3>
    </h1>
    <hr />
  </div>
</div>