body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #0a034d;
  font-size: 1.2em;
}

.news{
  /* margin: 20px; */
  color:#0f175c;  
}

h1.news{
  text-align: justify;
  /* margin-left: 440px; */
  font-size: 8rem;
  font-weight: bolder;
}

.onion{
  margin-right: 50px;
  margin-left: 50px;
}

.addNotes .delNotes{
  margin: 10px;
}

.title{
  color: #0f8d8d;
}

.link{
  color: #9b6713;
}

/* .titleNote{
  width: 1500px;
  color:#ffffff;
} */

#title{
  width: 400px;
}

#note{
  width: 400px;
  height: 400px;
  color: #2b2828;
}

.noteStyle{
  width: 400px;
  color: #2b2828;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: #0e0505;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #70716f;
}

div {
  border-radius: 5px;
  padding: 20px;
  background-color: #e6e9e5;
}